.navigation-container {
  
  background-color: #20232a;

  .navigation-header {

    display: flex;
    align-items: center;
    height: 100%;
    min-height: 4rem;
    color: #FFFFFF;

    h1 {
      
      font-size: 1.25rem;
      margin: 0px;

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }

  }

  .left-header {

    margin-left: auto;

    span {
      cursor: pointer;
      margin-right: 25px;


      &:last-child {
        margin-right: 0px;
      }
    }

  }

 

}

.main-container {
  margin-top: 20px;
}

.footer {

  .footer-inner {
    margin-top: 30px;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
}