.navigation-container {
  
  background-color: #20232a;

  .navigation-header {

    display: flex;
    align-items: center;
    height: 100%;
    min-height: 4rem;
    color: #FFFFFF;

    h1 {
      
      font-size: 1.25rem;
      margin: 0px;

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }

  }

  span {
    margin-left: auto;
    cursor: pointer;
  }

}

.main-container {
  margin-top: 20px;
}

