.selected-item-container {

  h1.selected-item-header {
    display: flex;
    align-items: center;

    span.actions-container {
      margin-left: auto;
      font-size: 20px;
      cursor: pointer;

      span.trash-icon-container {
        color: #dc3545;
        margin-right: 15px;
        .trash-icon {
          font-size: 28px;
        }
      }

      span.edit-icon-container {
        color: #020250;
      }
     
    }
  }

  table {

    th:last-child {
      width: 170px;
    }

    th {
      font-size: 14px;
    }

    td {
      font-size: 14px;
    }
  
  }

  .button-actions-container {
    button {
      font-size: 14px;
      &:first-child {
        margin-right: 5px;
      }

    }
  }

}