.search-code-container {

  margin-top: 55px;

  form {

    display: flex;
    align-items: center;

    div {
      width: 400px;
      margin-right: 10px;
    }

    button {
      font-weight: bold;
    }

  }

}