.login-container {

  margin-top: 50px;

  .login-wrap {

    width: 450px;
    margin: 45px auto;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;

    h1 {
      font-size: 2rem;
      text-align: center;
    }

  }

  img {
    border-radius: 2px;
  }

}